In [1]:
var = []
print(type(var))

<class 'list'>

In [2]:
var = list()
print(type(var))

<class 'list'>

In [4]:
var = ['dhoni', 'kohli']
var[1] = 'rohit'
print(var)

['dhoni', 'rohit']

In [5]:
var = ['dhoni']
var1 = ['rohit']
print(var + var1)

['dhoni', 'rohit']

In [6]:
var = ['dhoni', 'kohli']
var[4] = 'rohit'
print(var)

IndexError: list assignment index out of range

In [7]:
var = ['dhoni', 'kohli']
var[1] = 'rohit' # replaces current element in the specified index
print(var)

['dhoni', 'rohit']

In [8]:
var = ['dhoni', 'kohli']
var.insert(1, 'rohit')
print(var)

['dhoni', 'rohit', 'kohli']

In [10]:
var = ['dhoni', 'kohli']
var.insert(5, 'rohit') # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', 'rohit']

In [11]:
var = ['dhoni', 'kohli']
var.append( 'rohit') # inserts at the max possible index if index
print(var)

['dhoni', 'kohli', 'rohit']

In [12]:
var = ['dhoni', 'kohli']
var.append( 'rohit', 'incendero') # inserts at the max possible index if index is out of range
print(var)

TypeError: append() takes exactly one argument (2 given)

In [13]:
var = ['dhoni', 'kohli']
var.append([ 'rohit', 'incendero']) # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', ['rohit', 'incendero']]

In [14]:
var = ['dhoni', 'kohli']
var.append( ('rohit', 'incendero')) # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', ('rohit', 'incendero')]

In [15]:
print(dir(var))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [19]:
from collections import deque

de = deque([1,2,3]) 

de.appendleft(6) 

print(list(de))
print(type(de))

[6, 1, 2, 3]
<class 'collections.deque'>

In [20]:
# A Python program to demonstrate working
# of OrderedDict

from collections import OrderedDict


od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
	
print('Before Deleting')
for key, value in od.items():
	print(key, value)
	
# deleting element
od.pop('a')

# Re-inserting the same
od['a'] = 1

print('\nAfter re-inserting')
for key, value in od.items():
	print(key, value)

Before Deleting
a 1
b 2
c 3
d 4

After re-inserting
b 2
c 3
d 4
a 1

In [26]:
var = ['dhoni', 'kohli']
var.extend(['rohit', 'incendero']) # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', 'rohit', 'incendero']

In [25]:
var = ['dhoni', 'kohli']
var.extend(('rohit', 'incendero')) # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', 'rohit', 'incendero']

In [27]:
var = ['dhoni', 'kohli']
var.extend('rohit''incendero') # inserts at the max possible index if index is out of range
print(var)

['dhoni', 'kohli', 'r', 'o', 'h', 'i', 't', 'i', 'n', 'c', 'e', 'n', 'd', 'e', 'r', 'o']

In [29]:
var.sort()
print(var)

['c', 'd', 'dhoni', 'e', 'e', 'h', 'i', 'i', 'kohli', 'n', 'n', 'o', 'o', 'r', 'r', 't']

In [31]:
var.sort( reverse = True)
print(var)

['t', 'r', 'r', 'o', 'o', 'n', 'n', 'kohli', 'i', 'i', 'h', 'e', 'e', 'dhoni', 'd', 'c']

In [32]:
print(var.sort()) # doesnt return

None

In [34]:
output = sorted(var, reverse = True)
print(output)

['t', 'r', 'r', 'o', 'o', 'n', 'n', 'kohli', 'i', 'i', 'h', 'e', 'e', 'dhoni', 'd', 'c']

In [35]:
output.extend(['A', 'B', 'C', '1', '2', '3'])

In [36]:
output = sorted( output)
print(output)
print(sorted(output, reverse = True))

['1', '2', '3', 'A', 'B', 'C', 'c', 'd', 'dhoni', 'e', 'e', 'h', 'i', 'i', 'kohli', 'n', 'n', 'o', 'o', 'r', 'r', 't']
['t', 'r', 'r', 'o', 'o', 'n', 'n', 'kohli', 'i', 'i', 'h', 'e', 'e', 'dhoni', 'd', 'c', 'C', 'B', 'A', '3', '2', '1']

In [49]:
var = ['ashwin', 'cat', 'basket', 'aisle', 5.2, 2, 7, 8, ('a', 'b')]


for i in var[:]:
    if type(i) == int or type(i) == str: 
#         if type(i) == float:
#             var.pop(var.index(i))
#             i = int(i)
#             var.append(i)
        if type(i) == str:
            var.pop(var.index(i))
            i = ''.join(sorted(i, reverse = True))
            var.append(i)
    else:
        var.pop(var.index(i))
        
print(var)
#print(sorted(var))

[2, 7, 8, 'wsniha', 'tca', 'tskeba', 'sliea']

# tuple

In [51]:
var = ()
print(type(var))

<class 'tuple'>

In [52]:
var = ('dhoni')
print(type(var))

<class 'str'>

In [53]:
var = ('dhoni', )
print(type(var))

<class 'tuple'>

In [54]:
import sys
var1 = ['dhoni', 'kohli']
var = ('dhoni', 'kohli')
print(type(var), type(var1))
print(var, var1)
print(sys.getsizeof(var), sys.getsizeof(var1))

<class 'tuple'> <class 'list'>
('dhoni', 'kohli') ['dhoni', 'kohli']
56 72

# dictionary

In [55]:
var = {}
print(type(var))

<class 'dict'>

In [56]:
var = {'name' : 'dhoni', 'age' : 33}
print(var)
print(type(var))

{'name': 'dhoni', 'age': 33}
<class 'dict'>

In [57]:
# Hasing or hash table
# O(1)
# key value pair
# key should be unique
# JSON

In [58]:
var = {'name' : 'dhoni', 'age' : 33, ['a', 'b']: 'kohli'}
print(var)
print(type(var))

TypeError: unhashable type: 'list'

In [59]:
var = {'name' : 'dhoni', 'age' : 33, ('a', 'b'): 'kohli'}
print(var)
print(type(var))

{'name': 'dhoni', 'age': 33, ('a', 'b'): 'kohli'}
<class 'dict'>

In [60]:
var = {'name' : 'dhoni', 'age' : 33, 'age' : [22, 24]}
print(var)
print(type(var))

{'name': 'dhoni', 'age': [22, 24]}
<class 'dict'>

In [61]:
var = {'name' : 'dhoni', 'age' : 33, 'age' : [22, 24]}
var['age'][1] = 66
print(var)
print(type(var))

{'name': 'dhoni', 'age': [22, 66]}
<class 'dict'>

In [66]:
import pprint as pp

pp.PrettyPrinter( indent =4, depth = 10, compact = True)
pp.pprint(var)

{'age': [22, 66], 'name': 'dhoni'}

In [69]:
!pip install colorama

Requirement already satisfied: colorama in e:\anaconda\lib\site-packages (0.4.4)

In [70]:
from colorama import Fore, Back, Style
print(Fore.RED + 'some red text')
print(Back.GREEN + 'and with a green background')
print(Style.DIM + 'and in dim text')
print(Style.RESET_ALL)
print('back to normal now')

some red text
and with a green background
and in dim text

back to normal now

In [71]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [73]:
di = {1: 'a', 2: ' b', 3: 'c'}
di.clear()
print(di)

{}

In [79]:
di = {1: 'a', 2: ' b', 3: 'c'}
d2 = di.copy()
print(di, d2)
d2[3] = '10'
print(di, d2)

{1: 'a', 2: ' b', 3: 'c'} {1: 'a', 2: ' b', 3: 'c'}
{1: 'a', 2: ' b', 3: 'c'} {1: 'a', 2: ' b', 3: '10'}

In [81]:
d2.fromkeys()
print(d2)

TypeError: 'int' object is not iterable

In [83]:
var = [1, 'a', 2, 'b', 3, 'c']
var_iter = iter(var)
print(var_iter)
print(zip(var_iter, var_iter))
var_zip = dict(zip(var_iter, var_iter))
print(var_zip)

<list_iterator object at 0x000002A217A3AC10>
<zip object at 0x000002A218E49480>
{1: 'a', 2: 'b', 3: 'c'}

In [84]:
var = [4, 5, 6].pop()
var+= 50
print(var)

56

In [85]:
var = [4, 5, 6]
print(var.pop())
print(var)

6
[4, 5]

In [89]:
!pip install sqlite
import sqlite3

connection = sqlite3.connect('python.db')
query = """create table student ('name' text, 'age' int)"""
execution = connection.execute(query)
connection.commit()
connection.close()

ERROR: Could not find a version that satisfies the requirement sqlite (from versions: none)
ERROR: No matching distribution found for sqlite

OperationalError: table student already exists

In [90]:
def db_ex(): # function without aurguments
    connection = sqlite3.connect('python.db')
    query = """create table student ('name' text, 'age' int)"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex()

OperationalError: table student already exists

In [102]:
def db_ex(db, tb): # function with aurguments
    connection = sqlite3.connect(db)
    query = f"""create table {tb}  ('name' text, 'age' int);"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex('testing1.db', 'tab')

In [99]:
tb = 'a'
print(f"""create table {tb} student ('name' text, 'age' int);""")

create table a student ('name' text, 'age' int);

In [101]:
def db_ex(db, tb = 'teach'): # function with aurguments
    connection = sqlite3.connect(db)
    query = f"""create table {tb} ('name' text, 'age' int);"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex('testing1.db')

In [103]:
def db_ex(db= 'new.db', tb ): # function with aurguments
    connection = sqlite3.connect(db)
    query = f"""create table {tb} ('name' text, 'age' int);"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex('testing1.db')

SyntaxError: non-default argument follows default argument (Temp/ipykernel_1964/771356791.py, line 1)

In [104]:
def db_ex(db, tb = 'teach'): # function with aurguments
    connection = sqlite3.connect(db)
    #query = f"""create table {tb} ('name' text, 'age' int);"""
    sel = f"""select * from {tb}"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex('testing1.db')

In [110]:


def db_ex(*col, db, tb = 'teach'): # function with aurguments 
    connection = sqlite3.connect(db)
    query = f"""create table {tb} ({col[0]} text, {col[1]} int, {col[2]} bool);"""
    #sel = f"""select * from {tb}"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
db_ex(['name', 'age', 'gender'], db = 'testing1.db')

IndexError: tuple index out of range

In [111]:
var = 10/0

ZeroDivisionError: division by zero

In [112]:
try:
    var = 10/0
    print(var)
except:
    print('sorry')

sorry

In [113]:
try:
    var = 10 + "a"
    print(var)
except:
    print('sorry')

sorry

In [117]:
try:
    #var = 10/0
    var = '10' + 10
    print(var)
except TypeError as te:
    print(te)    
except:
    print('sorry')

can only concatenate str (not "int") to str

In [119]:
try:
    var = 10/0
    #var = '10' + 10
    print(var)
except TypeError as te:
    print(te) 
except ZeroDivisionError as zde:
    print(zde)
except:
    print('sorry')

division by zero

In [121]:
try:
    var = 10/0
    #var = '10' + 10
    print(var)
except (TypeError, ZeroDivisionError) as error:
    print(error) 
except:
    print('sorry')

division by zero

In [122]:
try:
    var = 10/0
    #var = '10' + 10
    print(var)
except Exception as error:
    print(error) 
except:
    print('sorry')

division by zero

In [124]:
try:
    #var = 10/0
    var = 5
    #var = '10' + 10
    print(var)
except Exception as error:
    print(error) 
else:
    print('sorry')
finally:
    print('welcome')

5
sorry
welcome

In [125]:
def My_DB_Select(table_name, db):
    try:
        connection = ''
        connection = sqlite3.connect(db)
        query = f"""create table {table_name} ('name' text, 'age' int)"""
        execution = connection.execute(query)
    except Exception as ex:
        print(ex)
    finally:
        if connection != '':
            connection.commit()
            connection.close()

In [126]:
try:
    var = 10
    if var > 5:
        raise IndexError
except IndexError:
    print('sorry')

sorry

In [128]:
try:
    var = 10
    if var > 5:
        raise IndexError("this is my exception")
except IndexError as ex:
    print(ex)

this is my exception

In [129]:
try:
    var = 10
    if var > 5:
        raise MyError
except MyError:
    print('sorry')

NameError: name 'MyError' is not defined

In [132]:
class MyError(Exception):
    pass

try:
    var = 10
    if var > 5:
        raise MyError
except MyError:
    print('sorry')

sorry

In [133]:
class MyError(Exception):
    er = "Incendero is noob"

try:
    var = 10
    if var > 5:
        raise MyError
except MyError as me:
    print(me.er)

Incendero is noob